.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

@keyframes wobble {
	50% { transform: rotate(6deg); }
  100%  { transform: rotate(0); }
}

.loadingPenguin {
  animation: wobble 3s infinite;
  transform-origin: bottom center;

  width: 25%;
  height: 25%;
}