$primary-font: "GreycliffCF", 'Avenir Next', avenir, Helvetica, arial, sans-serif;
$monospace-font: monospace;

$listWith: 208px;
$navWidth: 60px;

//light
$navColor: #fff;
$navButtonFill: #98A1B3;
$navButtonActiveColor: #F7FAFF;
$navButtonActiveBorderColor: #4A90E2;
$navButtonActiveFill: #4A90E2;

//dark
$navColor: #252A2E;
$navButtonFill: #666A6D;
$navButtonActiveColor: #3a3142;
$navButtonActiveBorderColor: #72648a;
$navButtonActiveFill: #fff;